In [37]:
!kaggle datasets download -d jpmiller/police-violence-racial-equity

police-violence-racial-equity.zip: Skipping, found more recently modified local copy (use --force to force download)

In [38]:
import zipfile

In [39]:
!mkdir resources

A subdirectory or file resources already exists.

In [40]:
path_to_zip_file = 'police-violence-racial-equity.zip'
directory_to_extract_to = './Resources'

with zipfile.ZipFile(path_to_zip_file, 'r') as zip_ref:
    zip_ref.extractall(directory_to_extract_to)

In [41]:
import pandas as pd
from sqlalchemy import create_engine

In [51]:
file3 = 'Resources/crime_data/Dallas.csv'
df = pd.read_csv(file3, encoding="ISO-8859-1")
df.head()

C:\Users\warre\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (14,19,20,21,22,30,32,35,36,41,45,46,56,58,59,61) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,IncidentNum,ArrestYr,ArrestNumber,ArArrestDate,ArArrestTime,ArBkDate,ArLAddress,ArLApt,ArLZip,ArLCity,...,TatooComment,Occupation,JobSchStatus,Employer,Drug,DrugRelated,DrugType,ClothingWorn,Expunged,UpZDate
0,052503-2018,2018,18-008234,03/12/2018 12:00:00 AM,12:02,03/12/2018 01:28:34 PM,2809 E LEDBETTER DR,NaN,75216.0,DALLAS,...,NaN,NaN,NaN,NaN,NaN,No,NaN,"WHITE SHIRT, BLUE JEANS, GRAY HOODIE, TAN SHOES",NaN,2018-03-14 12:40:08
1,055105-2016,2016,16-009843,03/06/2016 12:00:00 AM,22:13,03/06/2016 11:42:15 PM,6500 STARKEY ST,NaN,75232.0,DALLAS,...,NaN,NaN,NaN,NaN,NaN,No,NaN,Shirt: BLACK T SHIRT Jacket: GREY AND BLACK HO...,NaN,2016-03-24 11:36:19
2,095586-2019,2019,19-016816,05/14/2019 12:00:00 AM,01:25,05/14/2019 04:06:27 AM,9731 TREVOR DR,NaN,75243.0,DALLAS,...,NaN,NaN,NaN,NaN,NaN,Uknown,NaN,"WHITE TSHIRT, BLACK SWEATPANTS, BLACK SOCKS, N...",NaN,2019-05-14 11:55:41
3,139944-2017,2017,17-025468,06/20/2017 12:00:00 AM,19:00,06/20/2017 08:27:02 PM,4002 MARSHALL ST,NaN,75210.0,DALLAS,...,NaN,NaN,NaN,NaN,NaN,No,NaN,Shirt: GREEN SHIRT Jacket: N/A Pants: CAMO PAN...,NaN,2017-06-22 13:07:30
4,104552-2020,2020,20-018820,06/14/2020 12:00:00 AM,09:30,06/14/2020 11:26:58 AM,1220 W MOCKINGBIRD LN,NaN,75247.0,DALLAS,...,NaN,NaN,NaN,NaN,NaN,No,NaN,"BLUE TANK TOP, BLUE JEANS, YANKEES HAT",NaN,2020-06-14 11:33:57

In [60]:
df = df[[ "IncidentNum", "ArrestYr", "ArArrestTime",  "ArLCity", "DrugType",  "ClothingWorn"]].dropna()
df

,IncidentNum,ArrestYr,ArArrestTime,ArLCity,DrugType,ClothingWorn
9,131563-2018,2018,05:51,DALLAS,Processed Marijuana,"CAP, JEAN SHORTS, HAWAIN SHIRT"
14,002790-2019,2019,04:16,DALLAS,Powder Cocaine,"RED FOO FIGHTERS SHIRT, BLUE JEANS, BLACK TENN..."
30,023109-2017,2017,06:30,DALLAS,Processed Marijuana,Shirt: SHIRT Jacket: NONE Pants: JEANS Shoe: S...
45,154368-2018,2018,02:50,DALLAS,Processed Marijuana,"SUSPECT WORE BLUE JEANS, WHITE SHIRT, BROWN SHOES"
92,064741-2016,2016,00:20,DALLAS,Processed Marijuana,Shirt: PLAID Jacket: NONE Pants: BLUE JEANS Sh...
...,...,...,...,...,...,...
81851,233108-2014,2014,01:25,DALLAS,Powder Cocaine,Shirt: TSHIRT Jacket: NONE Pants: WHITE JEANS ...
81868,182189-2014,2014,00:00,Dallas,Other Prescription Drugs,Shirt: GRAY Jacket: NONE Pants: NONE Shoe: BLA...
81886,074603-2020,2020,03:59,DALLAS,Heroin,WHITE/BLACK T- SHIRT AND BLUE JEAN PANTS.
81896,225727-2014,2014,10:45,DALLAS,Heroin,Shirt: SHIRT Jacket: N/A Pants: SHORTS Shoe: S...
81908,188855-2014,2014,20:40,DALLAS,Crack Cocaine,Shirt: BLACK T SHIRT Jacket: NONE Pants: JEANS...

In [61]:
rds_connection_string = "postgres:boozer11@localhost:5432/police-violence-racial-equity"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [62]:
engine.table_names()

['dallas']

In [63]:
df.to_sql(name = "dallas", con = engine, if_exists = "append", index = False)

In [64]:
pd.read_sql_query('select *  from dallas;',con=engine)

,IncidentNum,ArrestYr,ArArrestTime,ArLCity,DrugType,ClothingWorn
0,131563-2018,2018,05:51,DALLAS,Processed Marijuana,"CAP, JEAN SHORTS, HAWAIN SHIRT"
1,002790-2019,2019,04:16,DALLAS,Powder Cocaine,"RED FOO FIGHTERS SHIRT, BLUE JEANS, BLACK TENN..."
2,023109-2017,2017,06:30,DALLAS,Processed Marijuana,Shirt: SHIRT Jacket: NONE Pants: JEANS Shoe: S...
3,154368-2018,2018,02:50,DALLAS,Processed Marijuana,"SUSPECT WORE BLUE JEANS, WHITE SHIRT, BROWN SHOES"
4,064741-2016,2016,00:20,DALLAS,Processed Marijuana,Shirt: PLAID Jacket: NONE Pants: BLUE JEANS Sh...
...,...,...,...,...,...,...
8231,233108-2014,2014,01:25,DALLAS,Powder Cocaine,Shirt: TSHIRT Jacket: NONE Pants: WHITE JEANS ...
8232,182189-2014,2014,00:00,Dallas,Other Prescription Drugs,Shirt: GRAY Jacket: NONE Pants: NONE Shoe: BLA...
8233,074603-2020,2020,03:59,DALLAS,Heroin,WHITE/BLACK T- SHIRT AND BLUE JEAN PANTS.
8234,225727-2014,2014,10:45,DALLAS,Heroin,Shirt: SHIRT Jacket: N/A Pants: SHORTS Shoe: S...
8235,188855-2014,2014,20:40,DALLAS,Crack Cocaine,Shirt: BLACK T SHIRT Jacket: NONE Pants: JEANS...